.product_slider {
    padding: 20px;
    margin-top: 10px;

    background-color: #F1F4FD;
  
    border-radius: 8px;
 
}

.product {
    transition: all 0.5s;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    color: black;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    position: relative;
  
}

.wish {
    position: absolute;
    top: 10px;
 
    right: 10px;
    z-index: 20;
    transition: all 0.5s;
    width: 20px;
    height: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #dc3545;
 
}

.product:hover {
    transform: scale(1.01);

    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.product img {
    transition: all 0.5s;
    border-radius: 10px 10px 0 0;
   
   
}

.product-img {
    position: relative;
    padding: 10px;
  
    background-color: #f8f9fa;
  
    border-bottom: 1px solid #ddd;
  
}

.rate {
    position: absolute;
    bottom: -16px;
    left: 1px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 20;
    color: gray;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px;
    /* Add some padding for better appearance */
}

.cart {
    position: absolute;
    bottom: 38%;
    right: 1px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 20;
    color: gray;
    font-weight: 900;
    font-size: 10px;
    padding: 2px 5px;
}

.rate i {
    color: yellow;
}

.product:hover img {
    transform: scale(1.02);
}

.product:hover .wish {
    display: block;
}

.cart-btn {
    transform: translateY(150%);
    background-color: #09c;
    color: white;
   
    border: none;
   
    padding: 10px;
  
    transition: all 0.5s;
    position: absolute;
    bottom: 0;
    width: 100%;
  
}

.product:hover .cart-btn {
    transform: translateY(0);
}